.app {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

button {
  margin: 5px;
}

.input-container {
  margin-right: 20px;
}

.user-text {
  width: 50vw;
  min-height: 90vh;
}

textarea {
  width: 95%;
  height: 100px;
  border: 1px solid #ccc;
  padding: 10px;
}

.editor-container textarea {
  width: 95%;
  height: 300px;
  border: 1px solid #ccc;
  padding: 10px;
}

.feedback-container {
  flex: 1;
  padding-left: 10px
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

.error-message {
  color: red;
  animation: flash 1s ease-in-out;
}

@keyframes flash {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}


.settings-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #4CAF50;
  color: white;
  padding: 4px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1000;
}

.settings-menu {
  position: absolute;
  top: 50px;
  left: 10px;
  background-color: #f1f1f1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1000;
}

.settings-menu label, .settings-menu select, .settings-menu input, .settings-menu button {
  display: block;
  margin-bottom: 10px;
}

.settings-menu input, .settings-menu select {
  padding: 5px;
  width: calc(100% - 12px);
}

.settings-menu button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

.model-selection-container{
  padding-top: 20px;
}

.model-selection-label {
  margin-right: 5px;
}

.global-spinner {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;  
  background-color: #fff;
}


.warning-page {
  background-color: bisque;
  padding: 20px;
  margin-right: 100px;
}